*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}
body{
  background-color: #eee;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo{
  width:150px;
  height: 150px;
  margin-left: 20px;
}

h2{
  text-align: center;
}
form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 3px solid #1E1E1E;
  border-radius: 20px;
  margin: 20px;
  background-color: #eee;
  border-radius: 20px;
}
form div{
  display: flex;
  flex-direction: column;
    padding: 20px;
}
input{
padding: 10px;
border-radius: 5px;
margin: 5px 0;
background:transparent;
border: 1px solid black;
outline:none;
transition: 0.5s ease-in-out;
-webkit-transition: 0.5s ease-in-out;
}
label{
  font-weight: 200;
}

button{
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  padding: 20px 30px;
  transition: 0.5s ease-in-out;
  -webkit-transition:0.5s ease-in-out;
  margin: 20px;
}
button[name='example']{
  margin-top: 0;
  background-color: #D1B000;
  color:#eee;
}
button[name='bmp']{
  background-color: #1E1E1E;
  color:white;
}

button:hover,button:active{
  transform: scale(1.05);
}
.instructions{
  margin: 0 20px;
  padding:20px;
  line-height: 1.5;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
